{% form_theme contactForm with [
    'form_div_layout.html.twig',
    'form/checkbox.html.twig'
] %}

{{ form_start(contactForm) }}
{{ form_row(contactForm.firstname) }}
{{ form_row(contactForm.lastname) }}
{{ form_row(contactForm.contactEmail) }}
{{ form_row(contactForm.contactMessage) }}
<div class="contact-form-checkmark">
    {{ form_row(contactForm.contactValid) }}
    <p>{{ contact.validation|trans }}</p>
</div>
{{ form_rest(contactForm) }}

<div id="form-submit" class="form-group">
    <div class="form-btn-off">
        <button id='btn-contact'><span>{{ contact.btn|trans }}</span></button>
    </div>
</div>
{{ form_end(contactForm) }}
