{% block body %}
	<section id="hw-location" class="section">
		<h2>{{ location.title|trans|raw }}</h2>
		<div class="hw-underline-new"></div>
		<figure class="areas">
			<img srcset="{{ asset('build/images/location/' ~ location.map.src_xs) }} 640w, {{ asset('build/images/location/' ~ location.map.src_md) }} 768w, {{ asset('build/images/location/' ~ location.map.src_lg) }} 1280w" sizes="(max-width: 640px) 640px,
																				            (max-width: 768px) 768px,
																				            1280px" src="{{ asset('build/images/location/' ~ location.map.src_lg) }}" alt="{{ location.map.alt|trans }}">
			<figcaption>
				<p>{{ location.map.caption.title|trans }}</p>
				<ul>
					{% for i in 0..location.map.caption.txt|length -1 %}
						<li>{{ location.map.caption.txt[i]|trans }}:
							<span>{{ location.map.caption.price[i]|trans }}</span>
						</li>
					{% endfor %}
				</ul>
			</figcaption>
		</figure>
		<div class="location-details">
			<h3>{{ location.subtitle1|trans|raw }}</h3>
			<p>{{ location.content1|trans }}</p>
			<h3>{{ location.subtitle2|trans }}</h3>
			<ul>
				{% for i in 0..location.content2|length -1 %}
					<li>{{ location.content2[i]|trans }}</li>
				{% endfor %}
			</ul>
			<p>{{ location.zone|trans|raw }}</p>
		</div>
	</section>
{% endblock %}
