{% block body %}
    <table>
        <thead>
            <tr>
                {% for i in 0..cookie.table.header|length -1 %}
                <th scope="col">{{ cookie.table.header[i]|trans }}</th>
               {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for i in 0..cookie.table.body.title|length -1 %}
        <tr class="HW-table-Header">
            <th scope="row">{{ cookie.table.body.title[i]|trans }}</th>
            <td>{{ cookie.table.body.content[i]|trans }}</td>
            <td>
                <div>
                    <label class="check-label" for="cookie-switch-{{ cookie.table.body.id[i]|trans }}">
                        <input type="checkbox" class="" id="cookie-switch-{{ cookie.table.body.id[i]|trans }}">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
