{% extends 'base.html.twig' %}
{% block title %}{{ title.create | trans }}{% endblock %}

{% block body %}
<section id="hw-articles-new" class="container">
    <h1>{{ title.create | trans }}</h1>
    <div class="hw-underline-new"></div>

    {{ form_start(formView) }}
    {{ form_errors(formView) }}

    {{ form_row(formView.name) }}
    {{ form_row(formView.description) }}

    <input type="submit" value="Créer" class="a-btn article-btn hover:font-bold cursor-pointer" >

    {{ form_end(formView) }}
</section>
{% endblock %}
