<div class="articles">
    {% for item in items %}
        {% if not app.user and item.status == constant('App\\Entity\\Articles::STATUS_DRAFT') %}
        {% else %}
            <div class="articles-items">
                <div class="articles-header">
                    {% if item.status == constant('App\\Entity\\Articles::STATUS_DRAFT') %}
                        <div class="triangle"></div>
                        <p>{{ title.status.draft | trans }}</p>
                    {% endif %}
                    <a href="{{ path('article_show', {
                        'categories_slug': item.categories.first.slug,
                        'slug': item.slug
                    }) }}">
                        <img src="{{ item.mainPicture }}" alt="{{ item.slug }}">
                    </a>
                </div>
                <div class="articles-content">
                    <h2><a href="{{ path('article_show', {
                            'categories_slug': item.categories.first.slug,
                            'slug': item.slug
                        }) }}">{{ item.title | raw }}</a>
                    </h2>

                    {{ item.shortDescription | raw }}

                    <p class="articles-readmore"><a href="{{ path('article_show', {
                            'categories_slug': item.categories.first.slug,
                            'slug': item.slug
                        }) }}">Lire l'article</a></p>
                </div>
                <div class="articles-footer">
                    {% if app.user %}
                        <p>Créé le {{ item.createdAt | date('d/m/Y') }}</p>
                    {% endif %}
                    {% if item.publishedAt %}
                        <p>Publié le {{ item.publishedAt | date('d/m/Y') }}</p>
                        <p>Modifié le {{ item.updatedAt | date('d/m/Y') }}</p>
                    {% endif %}
                    {% if badge %}
                        {% include 'shared/_badge.html.twig' with {
                            'route': 'articles',
                            'items': item.categories
                        } %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
