{% block body %}
	{% include 'shared/flash/flash.html.twig' %}
	<header id="hw-header" class="container hw-section">
		<div>
			<div>
				<div>
					<div class="header-logo header-logo-top">
						<img src="{{ asset('build/images/logos/' ~ header.nav.upper.hw.src) }}" alt="{{ header.nav.upper.hw.alt }}">
					</div>
					<div class="header-text">
						<p>{{ header.nav.upper.txt[0]|trans }}</p>
						<div>
							<p>{{ header.nav.upper.txt[1]|trans }}</p>
							<p>{{ header.nav.upper.txt[2]|trans }}</p>
							{% if app.user %}
								<p>
									<a href='{{ path('security_logout') }}'>Déconnexion</a>
								</p>
							{% endif %}
							<p>
								<a href="{{ header.nav.upper.facebook.target }}" target="_blank"><img src="{{ asset('build/images/logos/' ~ header.nav.upper.facebook.src) }}" alt="{{ header.nav.upper.facebook.alt|trans }}"></a>
							</p>
						</div>
					</div>
				</div>
				{% if app.environment == 'dev' %}
					<p class="text-sm text-white text-right m-0">Version: {{ app_version }}</p>
				{% endif %}
			</div>
			<nav class="modal-off">
				<div>
					<div id="nav-menu-icon" class="mr-4 is-closed">
						<svg x="0" y="0" width="4rem" height="4rem" viewbox="0 0 54 54">
							<circle cx="27" cy="27" r="25"></circle>
						</svg>
						<span></span>
					</div>
					<div id="nav-vertical-list" class="nav-list-container">
						<ul class="nav-list-small">
							<li>
								<a href="{{ path('home') }}{{ header.nav.lower.href[0]|trans }}">{{ header.nav.lower.txt[0]|trans }}</a>
							</li>
							<li>
								<a href="{{ path('home') }}{{ header.nav.lower.href[1]|trans }}">{{ header.nav.lower.txt[1]|trans }}</a>
							</li>
							<li>
								<a href="{{ path('home') }}{{ header.nav.lower.href[2]|trans }}">{{ header.nav.lower.txt[2]|trans }}</a>
							</li>
							{% if app.user %}
								<li class="dropdown-small">
									<a class="text-red-800" href="#">{{ header.nav.lower.txt[3]|trans }}</a>
									<ul class="dropdown-content">
										<li>
											<a href="{{ path('home') }}{{ header.nav.lower.href[4]|trans }}">{{ header.nav.lower.txt[4]|trans }}</a>
										</li>
										<li>
											<a href="{{ path('home') }}{{ header.nav.lower.href[5]|trans }}">{{ header.nav.lower.txt[5]|trans }}</a>
										</li>
									</ul>
								</li>
							{% endif %}
							<li class="nav-underline">
								<a href="{{ path('home') }}{{ header.nav.lower.href[6]|trans }}">{{ header.nav.lower.txt[6]|trans }}</a>
							</li>
							<li class="nav-underline">
								<a href="{{ path('home') }}{{ header.nav.lower.href[9]|trans }}">{{ header.nav.lower.txt[9]|trans }}</a>
							</li>
						</ul>
					</div>
					<ul class="nav-list-large">
						<li class="nav-underline">
							<a href="{{ path('home') }}{{ header.nav.lower.href[0]|trans }}">{{ header.nav.lower.txt[0]|trans }}</a>
						</li>
						<li class="nav-underline">
							<a href="{{ path('home') }}{{ header.nav.lower.href[1]|trans }}">{{ header.nav.lower.txt[1]|trans }}</a>
						</li>
						<li class="nav-underline">
							<a href="{{ path('home') }}{{ header.nav.lower.href[2]|trans }}">{{ header.nav.lower.txt[2]|trans }}</a>
						</li>
						{% if app.user %}
							<li class="dropdown">
								<a class="text-red-800" href="#">{{ header.nav.lower.txt[3]|trans }}</a>
								<ul class="dropdown-content">
									<li class="nav-underline">
										<a href="{{ path('home') }}{{ header.nav.lower.href[4]|trans }}">{{ header.nav.lower.txt[4]|trans }}</a>
									</li>
									<li class="nav-underline">
										<a href="{{ path('home') }}{{ header.nav.lower.href[5]|trans }}">{{ header.nav.lower.txt[5]|trans }}</a>
									</li>
								</ul>
							</li>
						{% endif %}
						<li class="nav-underline">
							<a href="{{ path('home') }}{{ header.nav.lower.href[6]|trans }}">{{ header.nav.lower.txt[6]|trans }}</a>
						</li>
						<li class="nav-underline">
							<a href="{{ path('home') }}{{ header.nav.lower.href[9]|trans }}">{{ header.nav.lower.txt[9]|trans }}</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
{% endblock %}
